@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
/* ---- reuse class ----  */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ---- css start ---  */

.bodyContainer {
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.mainContainer {
  width: 300px;
  height: 100vh;
  background-color: 2px solid black;
  gap: 70px;
}
/* -- left container -- */

.leftSection {
  height: 582px;
  width: 380px;
  position: relative;
}
.leftSection .screen {
  position: absolute;
  left: 156px;
  top: 26px;
}

/* -- right container -- */

.rightSection {
  height: 582px;
  width: 350px;
  flex-direction: column;
}

.branding {
  height: 70px;
  margin-bottom: 20px;
}

.fbLogo {
  width: 16px;
  margin-right: 9px;
}

.form {
  width: 350px;
  border: 1px solid #dbdbdb;
  flex-direction: column;
  gap: 10px;
}
.form input {
  padding: 10px;
  width: 269px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

form .loginbtn {
  color: whitesmoke;
  font-weight: 600;
  border-radius: 10px;
  font-size: 14px;
  background-color: #4cb5f9;
  margin-bottom: 10px;
}
form p {
  color: #777373;
  font-size: 12px;
  margin: 0 10px;
}

.form .box span {
  height: 1px;
  width: 112px;
  border-bottom: 1px solid #ececec;
}

form .fb {
  font-size: 15px;
  font-weight: 500;
  color: #445185;
  margin: 15px 0;
}
form .resetPassword {
  margin-bottom: 20px;
  font-size: 13px;
  color: black;
}

.signUp {
  margin: 1px 0;
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 63px;
}

.appImg img {
  height: 40px;
  gap: 10px;
}

/* ----- Footer ----  */

.footer .list {
  margin: 50px 0;
  font-size: 12px;
  gap: 15px;
  color: #dbdbdb;
}
.footer .list a {
  color: #777373;
  transition: 5s ease-in-out;
}
.footer .list a:hover {
  border-bottom: 1px solid #445185;
}



